<div class="container mt-4">
  <h3>Статистика гаражів</h3>

  <app-table
    [title]="'Гаражі'"
    [columns]="columns"
    [data]="garages">
  </app-table>

  <div class="mt-4">
    <h5>Розподіл по категоріях</h5>
    @for (g of garages; track g.id) {
      <div class="card mb-3 p-3">
        <h6>{{ g.name }}</h6>
        <p><strong>Всього:</strong> {{ g.totalVehicles }}</p>
        <ul class="list-group list-group-flush">
          @for (cat of (g.vehiclesByCategory | keyvalue); track cat.key) {
            <li class="list-group-item  align-items-center">
              {{ cat.key }}
              <span class="badge bg-primary rounded-pill">{{ cat.value }}</span>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
