<div class="table-container mb-4">
  <h4>{{ title }}</h4>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      @for (col of columns; track $index) {
        <th>{{ col.header }}</th>
      }
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
      @for (row of data; track row.id) {
        <tr>
          @for (col of columns; track $index) {
            <td>{{ row[col.field] }}</td>
          }

          @if (canCrud) {
            @if (showCrud) {
              <td>
                <button class="btn btn-warning btn-sm me-2" (click)="onEdit(row)">Змінити</button>
                <button class="btn btn-danger btn-sm" (click)="onDelete(row)">Видалити</button>
              </td>
            } @else {
              <td>
                <ng-container *ngTemplateOutlet="actionsTemplate; context: {$implicit: row}"></ng-container>
              </td>
            }
          } @else {
            <td>
              <p class="text-warning">Немає доступу</p>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
