<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-3">
  <div class="dropdown me-3">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      id="gridsDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      Сутності
    </button>
    <ul class="dropdown-menu" aria-labelledby="gridsDropdown">
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/transport']">Транспорти</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/mileage-record']">Пробіги</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/route']">Маршрути</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/driver']">Водії</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/team']">Команди</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/person']">Персони</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/transport-repair']">Ремонти</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/technician']">Техніки</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/garage-object']">Гаражі</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/registration-requests']">
          Заявки на реєстрацію <span class="text-bg-warning p-1">Адмін</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/driver-transport']">
          Надати водію транспорт <span class="text-bg-warning p-1">Адмін</span> <span class="text-bg-success p-1">Оператор</span>
        </a>
      </li>
    </ul>
  </div>

  <button
    class="btn btn-outline-secondary"
    type="button"
    [routerLink]="['/extra']">
    Додаткове
  </button>

  <div class="ms-auto">
    <button class="btn btn-primary" [routerLink]="['/login']">Логін</button>
  </div>
</nav>
