<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-3">
  <div class="dropdown me-3">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      id="gridsDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      Grids
    </button>
    <ul class="dropdown-menu" aria-labelledby="gridsDropdown">
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/transport']">Transport Grid</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/driver']">Driver Grid</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/team']">Team Grid</a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/grids/technician']">Technician Grid</a>
      </li>
    </ul>
  </div>

  <div class="ms-auto">
    <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
  </div>
</nav>
